<!DOCTYPE html>
<html lang="en">

<style>
    .div {background-color:#4E7D96;
    padding-left: 150px;
    padding-bottom: 50px;}

    .user {position: absolute;
    padding-top: 75px;}
</style>

<script>
    function myfunction() {
        document.getElementById("demo").innerHTML = "<%=mail%>";
    }
</script>
<body>
    <a onClick="history.back()">
    <img src="/Images/93634.png"  height="40px" width="40px">
    </a>
    <img class="user" src="/Images/ko.png" height="100px" width="100px">
    <div class="div">
        
        <h1 style="padding-top:15px"><%=name%></h1>
    </div>
    <button style="margin-left: 150px; margin-top:15px" onClick="myfunction()">More</button>
    <h3 id="demo" style="padding-left: 150px;"> </h3>
    
 
</body>
</html>