<html>

<a href="/user"><img src="/Images/93634.png"  height="40px" width="40px"></a>

<h1>Settings</h1>

<a href="/user/settings/delete">Delete Account</a>
<br>
<a href="/user/settings/change_password">Change Password</a>
<br>
<a href="/user/settings/change_name">Change Name</a>





</html>