<html>

<style>
    .body {
        background-color:white;
        color: black;
        
    }
    h1 {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    }

    a {
        font-family : 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        padding-left: 150px;
    }
    .div {
    padding-left: 150px;
    padding-bottom: 20px;}

    .user {
        position: absolute;
        padding-left: 50px;
        padding-top: 15px;
    }    

    .settings {
        position: absolute;
        height: 40px;
        width:40px;
        float: right;
        margin-left: 1440px;
        padding-top: 15px;
    }
    .dark-mode {
        background-color:#0D1117;
        color: #FFFFFF

    }
</style>
<body onload="image()">
<img src="/Images/settings.png" id="sett" class="settings" onClick="settings()">

<div style="position: fixed; padding-left: 1200px" class="form-check form-switch">
    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" onclick="dark()" />
    <label class="form-check-label" for="flexSwitchCheckDefault"
      >Dark Mode</label
    >
</div>

<div id="demo"></div>
<div class="div">
    
    <h1 style="padding-top:30px">Welcome, <%=name%></h1>
    
</div>
<h3 style="padding-left:150px">Description:</h3>
<p style="padding-left:150px"> <%=description%></p>
<a href="/user/settings/change_description">Change description</a>
<h3 style="padding-left: 150px;">Your Mail: <%=mail%></h3>

<a href="/user/home">Home</a>

<a href="/logout">Log Out</a>
<br>

<a href="/user/posts">See Posts</a>


<script>
    function image() {

        document.getElementById("demo").innerHTML = "<img id="+"profile"+" src="+"<%=image%>"+" class="+"user"+" height="+"70"+" width="+"70"+">"
    }

    function settings() {
        window.location.href = "/user/settings"
    }
    function dark(){
        var checkBox = document.getElementById("flexSwitchCheckDefault");
        if (checkBox.checked == true){
            var element = document.body;
            element.classList.toggle("dark-mode");
            document.getElementById("sett").src = "/Images/settingsdark.png";
            
        } else {
            var element = document.body;
            element.classList.toggle("dark-mode");
            document.getElementById("sett").src = "/Images/settings.png";
            
        }


    }

</script>

</body>


</html>